footer(class="credits")
  p Made with <span class="love">♥</span> by these people and a bunch of awesome contributors.
  ul
    - each github in data.footer.github
      li
        p
          a(href="#{github.url}" target="_blank")
            img(src="#{github.image}" alt="#{github.name}")
            span #{github.firstName} #{github.lastName}
  p Brought to you by
    a(class="meteoritebi-logo" href="https://meteorite.bi" target="_blank")
      img(src="images/meteoritebi-logo.jpg" width="100" height="77" alt="Meteorite BI Logo")
