main(class="container")
  ul(class="box-grid")
    - each main in data.main
      if main.id
        li
          a(id="#{main.id}" href="#{main.url}")
            span(class="box-icon fa fa-#{main.icon}")
            h3(class="box-title") #{main.title}
            span(class="box-subtitle") #{main.subtitle}
      else
        li
          a(href="#{main.url}" target="_blank")
            span(class="box-icon fa fa-#{main.icon}")
            h3(class="box-title") #{main.title}
            span(class="box-subtitle") #{main.subtitle}
